:root {
  --text-font: 'Merriweather', serif;
  --title-font: 'Roboto', sans-serif;

  /* Colors */
  --orange-red: #f54a3d;
  --light-green: #3df488;
  --dark-gray: #4b4342;
  --dark-green: #587564;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
}

header,
nav {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-green);
  padding: 1rem 12rem;
  position: fixed;
  height: 70px;
}

.logo {
  color: var(--light-green);
  font-weight: 900;
  font-size: 1.9rem;
}

.links {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.links li a {
  color: var(--light-green);
  font-weight: 900;
  text-decoration: none;
  font-size: 16px;
}

.links li a:hover {
  color: #95ffc1;
  text-decoration: underline;
}

@media (max-width: 1100px) {
  header nav {
    padding: 1rem 3rem;
  }
}

@media (max-width: 750px) {
  header nav {
    padding: 1rem;
  }

  .logo {
    font-size: 1.3rem;
  }
  .links li a {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  header nav {
    flex-direction: column;
  }
}

/*End of navbar, starting main*/

main {
  min-height: 100vh;
  padding: 0 12rem;
  padding-top: 70px;
}
@media (max-width: 1100px) {
  main {
    padding: 0 3rem;
    padding-top: 70px;
  }
}
@media (max-width: 750px) {
  main {
    padding: 0 1rem;
    padding-top: 70px;
  }
}

/*About me section*/
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  gap: 3rem;
}

#about .about__info {
  flex: 1;
}
.about__info h1 {
  font-size: 3rem;
  color: var(--orange-red);
  margin-bottom: 10px;
}
.about__info h2 {
  font-size: 2.2rem;
  color: #d43a2f;
  margin-bottom: 8px;
}
.about__info p {
  font-size: 1.3rem;
  color: var(--dark-gray);
}

#about .about__img {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}
.about__img img {
  width: 60%;
}

@media (max-width: 1300px) {
  .about__img img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .about__info h1 {
    font-size: 2.2rem;
  }
  .about__info h2 {
    font-size: 1.5rem;
  }
  .about__info p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  #about {
    flex-direction: column-reverse;
    padding-top: 2rem;
  }
}
/* End of about me */

/* Skills */
#skills {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
#skills h2 {
  font-size: 2.2rem;
}

#skills .skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.skills__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills__skill img {
  width: 100px;
  height: 100px;
}
.skills__skill p {
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 10px;
}
/*Skills finished*/

/*Projects*/
#projects {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  min-height: 100vh;
}
#projects h2 {
  font-size: 2.2rem;
}

.projects {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projects__project {
  position: relative;
  flex: 1;
  cursor: pointer;
  z-index: -1;
}

.projects__project-img {
  width: 100%;
  height: 300px;
}

.dropdown-button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 10px;
}

.projects__project.active .dropdown-button {
  bottom: 73%;
}

.dropdown-button img {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 30%;
  left: 33px;
  width: 87%;
  color: #fff;
  transition: 0.2s;
  display: none;
}
.dropdown h3 {
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.dropdown p {
  margin-bottom: 1rem;
}

.projects__project.active .dropdown {
  display: block;
}

.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.65) 15%,
    rgba(1, 1, 11, 0) 40%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  transition: background 0.3s;
}

.projects__project.active .overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.65) 80%,
    rgba(1, 1, 11, 0) 100%
  );
}

.project__btn {
  background-color: var(--orange-red);
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  padding: 5px 2rem;
}

@media (max-width: 1000px) {
  .projects {
    flex-direction: column;
  }
}
/*Finish of project section*/

/*Contact section*/
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

#contact h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.contact__links {
  display: flex;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.contact__links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 16px;
}

.contact__links-link img {
  width: 5rem;
}

@media (max-width: 675px) {
  .contact__links {
    justify-content: center;
  }
}
