:root {
  --text-font: 'Merriweather', serif;
  --title-font: 'Roboto', sans-serif;

  /* Colors */
  --orange-red: #f54a3d;
  --light-green: #3df488;
  --dark-gray: #4b4342;
  --dark-green: #587564;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
}

header,
nav {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-green);
  padding: 1rem 12rem;
  position: fixed;
  height: 70px;
}

.logo {
  color: var(--light-green);
  font-weight: 900;
  font-size: 1.9rem;
}

.links {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.links li a {
  color: var(--light-green);
  font-weight: 900;
  text-decoration: none;
  font-size: 16px;
}

.links li a:hover {
  color: #95ffc1;
  text-decoration: underline;
}

/*End of navbar, starting main*/

main {
  min-height: 100vh;
  padding: 0 12rem;
  padding-top: 70px;
}

/*About me section*/
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
}

#about .about__info {
  flex: 1;
}
.about__info h1 {
  font-size: 3rem;
  color: var(--orange-red);
  margin-bottom: 10px;
}
.about__info h2 {
  font-size: 2.2rem;
  color: #d43a2f;
  margin-bottom: 8px;
}
.about__info p {
  font-size: 1.3rem;
  color: var(--dark-gray);
}

#about .about__img {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}
.about__img img {
  width: 60%;
}
/* End of about me */

/* Skills */
#skills {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
#skills h2 {
  font-size: 2.2rem;
}

#skills .skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.skills__skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills__skill img {
  width: 100px;
  height: 100px;
}
.skills__skill p {
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 10px;
}
/*Skills finished*/

/*Projects*/
#projects {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  min-height: 100vh;
}

.projects {
  display: flex;
  align-items: center;
}
